@using BoardGames_FinalProject.Models
@model BoardGame

<div class="text-center">
    <h1>Our Staff Pick!</h1>
    <ul class="list-group">
        <li class="list-group-item list-group-item-heading list-group-item-success">
            <h5>
                <a asp-controller="BoardGame"
                   asp-action="Details"
                   asp-route-id="@Model.ID">
                    @Model.name
                </a>
            </h5>
            <br />
            <img src="@Model.image_url" width="200" alt=" @Model.name" />
        </li>
    </ul>
</div>