@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout</h1>
<ul class="list-group">
    <li class="list-group-item bg-danger text-white">
        <h4>Don't roll your own checkout! It isn't secure!</h4>
    </li>
    <li class="list-group-item bg-warning">
        Use a third party payment service, like 
        <a href="https://stripe.com/" target="_blank">Stripe</a> or
        <a href="https://transferwise.com/us" target="_blank">TransferWise</a>. 

        Most are pretty easy to incorporate in to your own web application, and then
        you aren't handling money or trying to store credit card numbers.
    </li>
</ul>